In [99]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [35]:
df = pd.read_csv("global-economy-indicators/Global Economy Indicators.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10512 entries, 0 to 10511
Data columns (total 26 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0    CountryID                                                                                  10512 non-null  int64
 1    Country                                                                                    10512 non-null  object
 2    Year                                                                                       10512 non-null  int64
 3    AMA exchange rate                                                                          10512 non-null  float64
 4    IMF based exchange rate                                                                    10512 non-null  float64
 5    Population                                                                                 10512 non-null  int64
 6    Currency                                                                                   10512 non-null  object
 7    Per capita GNI                                                                             10512 non-null  int64
 8    Agriculture, hunting, forestry, fishing (ISIC A-B)                                         10391 non-null  float64
 9    Changes in inventories                                                                     8671 non-null   float64
 10   Construction (ISIC F)                                                                      10512 non-null  float64
 11   Exports of goods and services                                                              10491 non-null  float64
 12   Final consumption expenditure                                                              10512 non-null  float64
 13   General government final consumption expenditure                                           10460 non-null  float64
 14   Gross capital formation                                                                    10460 non-null  float64
 15   Gross fixed capital formation (including Acquisitions less disposals of valuables)         10460 non-null  float64
 16   Household consumption expenditure (including Non-profit institutions serving households)   10460 non-null  float64
 17   Imports of goods and services                                                              10470 non-null  float64
 18   Manufacturing (ISIC D)                                                                     10469 non-null  float64
 19   Mining, Manufacturing, Utilities (ISIC C-E)                                                10512 non-null  float64
 20   Other Activities (ISIC J-P)                                                                10512 non-null  float64
 21   Total Value Added                                                                          10512 non-null  float64
 22   Transport, storage and communication (ISIC I)                                              10463 non-null  float64
 23   Wholesale, retail trade, restaurants and hotels (ISIC G-H)                                 10463 non-null  float64
 24   Gross National Income(GNI) in USD                                                          10512 non-null  float64
 25   Gross Domestic Product (GDP)                                                               10512 non-null  float64
dtypes: float64(20), int64(4), object(2)
memory usage: 2.1+ MB

In [36]:
df.head()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [37]:
df.tail()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
10507,894,Zambia,2017,9.519501,9.519501,17298054,Kwacha,1448,1.041005e+09,567729313.0,...,1.215309e+10,9.465895e+09,2.102369e+09,7.194153e+09,6.187124e+09,2.416662e+10,1.965026e+09,5.323590e+09,2.505604e+10,2.586816e+10
10508,894,Zambia,2018,10.458143,10.458143,17835893,Kwacha,1451,8.791160e+08,929063411.0,...,1.183200e+10,9.717269e+09,1.801783e+09,6.556884e+09,5.791375e+09,2.422570e+10,2.490720e+09,5.990720e+09,2.588455e+10,2.631198e+10
10509,894,Zambia,2019,12.889418,12.889418,18380477,Kwacha,1246,6.668385e+08,817104395.0,...,9.848112e+09,7.961415e+09,1.582484e+09,5.584425e+09,5.231062e+09,2.153971e+10,2.537646e+09,4.959277e+09,2.291011e+10,2.331036e+10
10510,894,Zambia,2020,18.344093,18.344093,18927715,Kwacha,928,5.391694e+08,439295787.0,...,6.969267e+09,5.892353e+09,1.397303e+09,4.269405e+09,4.217431e+09,1.718020e+10,2.258715e+09,3.234123e+09,1.756233e+10,1.811064e+10
10511,894,Zambia,2021,20.018487,20.018487,19473125,Kwacha,1062,6.285287e+08,293485060.0,...,8.423339e+09,7.735235e+09,1.876458e+09,6.639510e+09,4.250492e+09,2.071254e+10,2.060541e+09,3.881353e+09,2.067962e+10,2.131337e+10

Lo primero que vamos a hacer va a ser limpiar los nombres de las columnas para después poder acceder correctamente, ya que como se puede ver, esta mal formateadas, además, los nombres son muy largos, lo que después para las visualizaciones puede suponer un problema

In [38]:
df.columns

Index([' CountryID ', ' Country ', ' Year ', ' AMA exchange rate ',
       ' IMF based exchange rate ', ' Population ', ' Currency ',
       ' Per capita GNI ',
       ' Agriculture, hunting, forestry, fishing (ISIC A-B) ',
       ' Changes in inventories ', ' Construction (ISIC F) ',
       ' Exports of goods and services ', ' Final consumption expenditure ',
       ' General government final consumption expenditure ',
       ' Gross capital formation ',
       ' Gross fixed capital formation (including Acquisitions less disposals of valuables) ',
       ' Household consumption expenditure (including Non-profit institutions serving households) ',
       ' Imports of goods and services ', ' Manufacturing (ISIC D) ',
       ' Mining, Manufacturing, Utilities (ISIC C-E) ',
       ' Other Activities (ISIC J-P) ', ' Total Value Added ',
       ' Transport, storage and communication (ISIC I) ',
       ' Wholesale, retail trade, restaurants and hotels (ISIC G-H) ',
       ' Gross National Income(GNI) in USD ',
       ' Gross Domestic Product (GDP) '],
      dtype='object')

In [39]:
#Eliminamos los espacios
df.columns=df.columns.str.strip()

In [40]:
#Vamos a crear un diccionario que nos asocie los nombre originales con los nuevos nombres abreviados
data_names = {}
for col in df.columns:
    primeras_letras = []
    for palabra in col.split():
        if palabra[0] == "(": #Aqui podemos añadir más caracteres que queramos para nuestro diccionario
            break
        else:
            if len(col.split()) > 1:
                primeras_letras.append(palabra[0])
            else:
                primeras_letras.append(palabra)
                
    key = ''.join(primeras_letras)
    data_names[key] = col
if len(set(data_names)) == len(data_names):
    print("Ready to create a dictionary:")
    print(data_names)
else:
    pass
    #Aquí deberíamos, en caso de que fuera necesario, separar los elementos que son iguales, y añadirles distintos valores hasta hacerlos únicos.

Ready to create a dictionary:
{'CountryID': 'CountryID', 'Country': 'Country', 'Year': 'Year', 'Aer': 'AMA exchange rate', 'Iber': 'IMF based exchange rate', 'Population': 'Population', 'Currency': 'Currency', 'PcG': 'Per capita GNI', 'Ahff': 'Agriculture, hunting, forestry, fishing (ISIC A-B)', 'Cii': 'Changes in inventories', 'C': 'Construction (ISIC F)', 'Eogas': 'Exports of goods and services', 'Fce': 'Final consumption expenditure', 'Ggfce': 'General government final consumption expenditure', 'Gcf': 'Gross capital formation', 'Gfcf': 'Gross fixed capital formation (including Acquisitions less disposals of valuables)', 'Hce': 'Household consumption expenditure (including Non-profit institutions serving households)', 'Iogas': 'Imports of goods and services', 'M': 'Manufacturing (ISIC D)', 'MMU': 'Mining, Manufacturing, Utilities (ISIC C-E)', 'OA': 'Other Activities (ISIC J-P)', 'TVA': 'Total Value Added', 'Tsac': 'Transport, storage and communication (ISIC I)', 'Wrtrah': 'Wholesale, retail trade, restaurants and hotels (ISIC G-H)', 'GNIiU': 'Gross National Income(GNI) in USD', 'GDP': 'Gross Domestic Product (GDP)'}

In [41]:
#definimos una función que nos permita obtener el valor del diccionario a traves del valor del diccionario
def get_key_from_value(diccionario,value):
    for k,v in diccionario.items():
        if v == value:
            return k
    return "None" #si el valor no se encuentra

In [42]:
#Renombramos todas las cabeceras de las columnas con los nuevos nombres
for col in df.columns:
    new_name = get_key_from_value(data_names,col)
    df.rename(columns = {col: new_name},inplace=True)

if not "None" in df.columns: print("Rename Succesfull")

Rename Succesfull

In [43]:
#Country y Currency son object type data, así que checkeamos por espacios extra, para verlo con claridad, concatenamos un string al principio y al final para ver como se ve el output.

print("hello" + df['Country'] + "bye") 
print("hello" + df['Currency'] + "bye")

0        hello Afghanistan bye
1        hello Afghanistan bye
2        hello Afghanistan bye
3        hello Afghanistan bye
4        hello Afghanistan bye
                 ...
10507         hello Zambia bye
10508         hello Zambia bye
10509         hello Zambia bye
10510         hello Zambia bye
10511         hello Zambia bye
Name: Country, Length: 10512, dtype: object
0        hello Afghani bye
1        hello Afghani bye
2        hello Afghani bye
3        hello Afghani bye
4        hello Afghani bye
               ...
10507     hello Kwacha bye
10508     hello Kwacha bye
10509     hello Kwacha bye
10510     hello Kwacha bye
10511     hello Kwacha bye
Name: Currency, Length: 10512, dtype: object

In [44]:
#Efectivamente tenemos espacios extras, por lo tanto tenemos que limpiar también estos datos
df['Country']=df['Country'].str.strip()
df['Currency']=df['Currency'].str.strip()

In [45]:
#Prevenir malos formatos en los numeros
for col in df.select_dtypes(['float64']):
    df[col]=pd.to_numeric(df[col])

In [47]:
#Vemos como ha quedado nuestro dataframe después de este primer formateado
df.head()

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [48]:
#Y si en cualquier momento queremos ver a que valor hace referencia nuestra columna, sencillamente lo consultamos en nuestro diccionario:
print(data_names['PcG'])

Per capita GNI

Ahora procederemos a entender todos los nulos que nos encontramos

In [49]:
df.isna().sum()

CountryID        0
Country          0
Year             0
Aer              0
Iber             0
Population       0
Currency         0
PcG              0
Ahff           121
Cii           1841
C                0
Eogas           21
Fce              0
Ggfce           52
Gcf             52
Gfcf            52
Hce             52
Iogas           42
M               43
MMU              0
OA               0
TVA              0
Tsac            49
Wrtrah          49
GNIiU            0
GDP              0
dtype: int64

Encontramos un grupo de 4 atributos que tienen el mismo numero de nulos (52), lo que puede dar a entender que se tratan de las mismas entradas, lo mismo con el grupo de 2 atributos de 49 nulos.

Por otro lado encontramos que las variables: <br>
Ahff <br>
Cii<br>
Eogas<br>
Iogas<br>
M<br>
Tienen una cantidad de nulos diferentes entre ellas.

In [52]:
#Comprobamos el grupo de 4 atributos

print("Columna Ggfce, valor: " + data_names["Ggfce"])
print("Columna Gcf, valor: " + data_names["Gcf"])
print("Columna Gfcf, valor: " + data_names["Gfcf"])
print("Columna Hce, valor: " + data_names["Ggfce"])

null4Group = df.loc[df['Ggfce'].isnull(),['Year','Country','Gcf','Gfcf','Hce']]

print(null4Group.shape)
print(null4Group.head())
print(null4Group.tail())

Columna Ggfce, valor: General government final consumption expenditure
Columna Gcf, valor: Gross capital formation
Columna Gfcf, valor: Gross fixed capital formation (including Acquisitions less disposals of valuables)
Columna Hce, valor: General government final consumption expenditure
(52, 5)
      Year          Country  Gcf  Gfcf  Hce
4817  1970  D.P.R. of Korea  NaN   NaN  NaN
4818  1971  D.P.R. of Korea  NaN   NaN  NaN
4819  1972  D.P.R. of Korea  NaN   NaN  NaN
4820  1973  D.P.R. of Korea  NaN   NaN  NaN
4821  1974  D.P.R. of Korea  NaN   NaN  NaN
      Year          Country  Gcf  Gfcf  Hce
4864  2017  D.P.R. of Korea  NaN   NaN  NaN
4865  2018  D.P.R. of Korea  NaN   NaN  NaN
4866  2019  D.P.R. of Korea  NaN   NaN  NaN
4867  2020  D.P.R. of Korea  NaN   NaN  NaN
4868  2021  D.P.R. of Korea  NaN   NaN  NaN

Se confirma que se trata de Korea que tiene nulos en estos 4 valores, posiblemente porque por las politcas del país, no ha proporcionado los datos a las entidades públicas.

In [53]:
#Comprobamos el grupo de 2 atributos
print("Columna Tsac, valor: " + data_names["Ggfce"])
print("Columna Wrtrah, valor: " + data_names["Gcf"])

null2Group = df.loc[df['Tsac'].isnull(),['Year','Country','Wrtrah']]

print(null2Group.shape)
print(null2Group.head())
print(null2Group.tail())

Columna Tsac, valor: General government final consumption expenditure
Columna Wrtrah, valor: Gross capital formation
(49, 3)
      Year          Country  Wrtrah
4817  1970  D.P.R. of Korea     NaN
4818  1971  D.P.R. of Korea     NaN
4819  1972  D.P.R. of Korea     NaN
4820  1973  D.P.R. of Korea     NaN
4821  1974  D.P.R. of Korea     NaN
      Year          Country  Wrtrah
4861  2014  D.P.R. of Korea     NaN
4862  2015  D.P.R. of Korea     NaN
4863  2016  D.P.R. of Korea     NaN
4864  2017  D.P.R. of Korea     NaN
4865  2018  D.P.R. of Korea     NaN

Vemos que también se trata de corea, sin embargo, en este caso, los últimos 3 años, si que han rellanado estos datos.

In [65]:
#Analizamos Ahff
print("Columna Ahff, valor: " + data_names["Ahff"])

Ahff_nulo = df.loc[df['Ahff'].isnull(),['Year','Country']]

print(Ahff_nulo.shape)
print(Ahff_nulo.head())
print(Ahff_nulo.tail())

Ahff_nulo['Country'].value_counts()

Columna Ahff, valor: Agriculture, hunting, forestry, fishing (ISIC A-B)
(121, 2)
      Year           Country
5465  1970  China, Macao SAR
5466  1971  China, Macao SAR
5467  1972  China, Macao SAR
5468  1973  China, Macao SAR
5469  1974  China, Macao SAR
      Year                    Country
6693  2017  Sint Maarten (Dutch part)
6694  2018  Sint Maarten (Dutch part)
6695  2019  Sint Maarten (Dutch part)
6696  2020  Sint Maarten (Dutch part)
6697  2021  Sint Maarten (Dutch part)

Country
China, Macao SAR             52
Monaco                       52
Sint Maarten (Dutch part)    17
Name: count, dtype: int64

In [66]:
#Hemos visto que para Moncao y China si que hay nulos en todo el dataset, sin embargo, vamos a ver que ha pasado con Sint Maarten
sint_maarten = df[df['Country']=="Sint Maarten (Dutch part)"]
sint_maarten

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
6681,534,Sint Maarten (Dutch part),2005,1.79,1.79,31494,Netherlands Antillian Guilder,21653,NaN,NaN,...,584027577.0,9.455866e+08,12213279.0,52084069.0,316708880.0,6.700150e+08,87624259.0,153592824.0,6.819475e+08,7.079548e+08
6682,534,Sint Maarten (Dutch part),2006,1.79,1.79,31813,Netherlands Antillian Guilder,22959,NaN,NaN,...,553880908.0,8.825698e+08,12249431.0,53259387.0,339954377.0,7.146686e+08,87859650.0,179618598.0,7.303916e+08,7.582464e+08
6683,534,Sint Maarten (Dutch part),2007,1.79,1.79,32136,Netherlands Antillian Guilder,24204,NaN,NaN,...,628169221.0,9.957542e+08,11817120.0,61029067.0,374681888.0,7.648801e+08,98687631.0,173155822.0,7.778084e+08,8.074715e+08
6684,534,Sint Maarten (Dutch part),2008,1.79,1.79,32456,Netherlands Antillian Guilder,25368,NaN,NaN,...,739491856.0,1.064749e+09,12501529.0,54270928.0,401640326.0,8.069929e+08,105337423.0,185906704.0,8.233328e+08,8.547321e+08
6685,534,Sint Maarten (Dutch part),2009,1.79,1.79,32763,Netherlands Antillian Guilder,25255,NaN,NaN,...,697322881.0,9.589944e+08,10411843.0,56510072.0,421632783.0,8.105421e+08,104572403.0,172398920.0,8.274419e+08,8.589979e+08
6686,534,Sint Maarten (Dutch part),2010,1.79,1.79,33034,Netherlands Antillian Guilder,26142,NaN,NaN,...,693036328.0,9.312849e+08,12825294.0,55961692.0,416814346.0,8.442594e+08,112634541.0,200462507.0,8.635587e+08,8.964921e+08
6687,534,Sint Maarten (Dutch part),2011,1.79,1.79,33309,Netherlands Antillian Guilder,27070,NaN,NaN,...,649963137.0,9.700559e+08,15418994.0,56201117.0,467430168.0,8.689944e+08,95921788.0,183519553.0,9.016760e+08,9.360630e+08
6688,534,Sint Maarten (Dutch part),2012,1.79,1.79,35139,Netherlands Antillian Guilder,29351,NaN,NaN,...,634959424.0,1.110582e+09,14274547.0,58616780.0,554073452.0,9.854286e+08,120768448.0,209259069.0,1.031371e+09,1.066211e+09
6689,534,Sint Maarten (Dutch part),2013,1.79,1.79,37697,Netherlands Antillian Guilder,31029,NaN,NaN,...,763634909.0,1.389095e+09,13269070.0,56680855.0,618187520.0,1.115543e+09,148142821.0,260703676.0,1.169685e+09,1.196493e+09
6690,534,Sint Maarten (Dutch part),2014,1.79,1.79,39100,Netherlands Antillian Guilder,32806,NaN,NaN,...,886121965.0,1.649141e+09,15418994.0,59441341.0,671396648.0,1.257095e+09,192960894.0,312067039.0,1.282705e+09,1.338324e+09
6691,534,Sint Maarten (Dutch part),2015,1.79,1.79,40205,Netherlands Antillian Guilder,32844,NaN,NaN,...,836284653.0,1.454635e+09,15921788.0,52122905.0,686145251.0,1.280391e+09,197932961.0,326368715.0,1.320475e+09,1.366983e+09
6692,534,Sint Maarten (Dutch part),2016,1.79,1.79,41346,Netherlands Antillian Guilder,32770,NaN,NaN,...,910413273.0,1.480008e+09,17597765.0,53463687.0,727932961.0,1.319721e+09,200167598.0,317765363.0,1.354910e+09,1.401844e+09
6693,534,Sint Maarten (Dutch part),2017,1.79,1.79,41883,Netherlands Antillian Guilder,29773,NaN,NaN,...,933604257.0,1.308442e+09,17541899.0,51620112.0,684022346.0,1.221006e+09,179106145.0,278938547.0,1.247003e+09,1.289330e+09
6694,534,Sint Maarten (Dutch part),2018,1.79,1.79,42246,Netherlands Antillian Guilder,29544,NaN,NaN,...,854017930.0,1.348447e+09,17094972.0,46256983.0,681843575.0,1.224804e+09,161787709.0,298938547.0,1.248098e+09,1.290503e+09
6695,534,Sint Maarten (Dutch part),2019,1.79,1.79,42980,Netherlands Antillian Guilder,30892,NaN,NaN,...,933400900.0,1.428771e+09,17932961.0,54581006.0,724022346.0,1.295028e+09,202793296.0,280893855.0,1.327726e+09,1.375810e+09
6696,534,Sint Maarten (Dutch part),2020,1.79,1.79,43621,Netherlands Antillian Guilder,25071,NaN,NaN,...,778709761.0,1.168726e+09,15586592.0,48882682.0,687486034.0,1.077989e+09,117430168.0,199720670.0,1.093620e+09,1.131676e+09
6697,534,Sint Maarten (Dutch part),2021,1.79,1.79,44042,Netherlands Antillian Guilder,25320,NaN,NaN,...,780117716.0,1.198510e+09,15405434.0,45657947.0,639267526.0,1.093433e+09,144820260.0,235496777.0,1.115132e+09,1.153843e+09

Nos damos cuenta que de Sint Maarten solo tenemos datos desde el 2005, y que las columnas Ahff y Cii estan en nulo, los datos estan desde el 2005 puesto que el referendum se celebra en el cual la isla de San Martín pasa a formar un país se celebra en el 2000.

In [67]:
#Comprobamos Eogas
print("Columna Eogas, valor: " + data_names["Eogas"])

Eogas_nulo = df.loc[df['Eogas'].isnull(),['Year','Country']]

print(Eogas_nulo.shape)
print(Eogas_nulo.head())
print(Eogas_nulo.tail())

Columna Eogas, valor: Exports of goods and services
(21, 2)
      Year        Country
9884  1970  USSR (Former)
9885  1971  USSR (Former)
9886  1972  USSR (Former)
9887  1973  USSR (Former)
9888  1974  USSR (Former)
      Year        Country
9900  1986  USSR (Former)
9901  1987  USSR (Former)
9902  1988  USSR (Former)
9903  1989  USSR (Former)
9904  1990  USSR (Former)

Vemos que estos nulos corresponden a la URSS la cual fue disuelta en 1991, por lo tanto la Unión Sovietica al ser comunista, tiene sentido que no exportara servicios ni bienes

In [69]:
#Comprobamos Iogas
print("Columna Iogas, valor: " + data_names["Iogas"])

Iogas_nulo = df.loc[df['Iogas'].isnull(),['Year','Country']]

print(Iogas_nulo.shape)
print(Iogas_nulo.head())
print(Iogas_nulo.tail())

Czechoslovakia = df[df['Country']=="Czechoslovakia (Former)"]
Czechoslovakia

Columna Iogas, valor: Imports of goods and services
(42, 2)
      Year                  Country
2448  1970  Czechoslovakia (Former)
2449  1971  Czechoslovakia (Former)
2450  1972  Czechoslovakia (Former)
2451  1973  Czechoslovakia (Former)
2452  1974  Czechoslovakia (Former)
      Year        Country
9900  1986  USSR (Former)
9901  1987  USSR (Former)
9902  1988  USSR (Former)
9903  1989  USSR (Former)
9904  1990  USSR (Former)

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
2448,200,Czechoslovakia (Former),1970,27.000000,27.000000,14318611,Koruna,1138,1.464428e+09,NaN,...,7.711491e+09,NaN,5.382519e+09,5.382519e+09,5.606440e+09,1.629429e+10,1.142646e+09,1.303701e+09,1.629429e+10,1.629429e+10
2449,200,Czechoslovakia (Former),1971,27.000000,27.000000,14374051,Koruna,1185,1.571409e+09,NaN,...,8.071944e+09,NaN,5.646867e+09,5.646867e+09,5.890876e+09,1.703857e+10,1.126852e+09,1.294277e+09,1.703857e+10,1.703857e+10
2450,200,Czechoslovakia (Former),1972,24.780000,24.780000,14448439,Koruna,1352,1.742078e+09,NaN,...,9.187602e+09,NaN,6.395926e+09,6.395926e+09,6.801337e+09,1.952736e+10,1.169644e+09,1.541181e+09,1.952736e+10,1.952736e+10
2451,200,Czechoslovakia (Former),1973,21.920000,21.920000,14541580,Koruna,1587,2.067821e+09,NaN,...,1.093699e+10,NaN,7.675399e+09,7.675399e+09,8.173946e+09,2.307368e+10,1.203294e+09,1.716945e+09,2.307368e+10,2.307368e+10
2452,200,Czechoslovakia (Former),1974,21.977500,21.977500,14649335,Koruna,1690,2.058626e+09,NaN,...,1.165155e+10,NaN,8.457781e+09,8.457781e+09,8.850337e+09,2.475377e+10,1.306168e+09,1.685284e+09,2.475377e+10,2.475377e+10
2453,200,Czechoslovakia (Former),1975,20.925000,20.925000,14762774,Koruna,1849,2.032888e+09,NaN,...,1.265172e+10,NaN,9.581348e+09,9.581348e+09,9.873855e+09,2.729965e+10,1.425887e+09,1.741085e+09,2.729965e+10,2.729965e+10
2454,200,Czechoslovakia (Former),1976,21.657500,21.657500,14874386,Koruna,1809,1.788311e+09,NaN,...,1.265754e+10,NaN,9.803207e+09,9.803207e+09,9.742041e+09,2.691404e+10,1.478251e+09,1.496562e+09,2.691404e+10,2.691404e+10
2455,200,Czechoslovakia (Former),1977,15.027500,15.027500,14979951,Koruna,2576,3.039655e+09,NaN,...,1.890304e+10,NaN,1.255104e+10,1.255104e+10,1.336005e+10,3.858315e+10,2.289260e+09,3.946925e+09,3.858315e+10,3.858315e+10
2456,200,Czechoslovakia (Former),1978,14.397500,14.397500,15079239,Koruna,2818,3.114506e+09,NaN,...,2.076891e+10,NaN,1.383030e+10,1.383030e+10,1.469053e+10,4.250063e+10,2.608016e+09,4.555165e+09,4.250063e+10,4.250063e+10
2457,200,Czechoslovakia (Former),1979,14.105000,14.105000,15172170,Koruna,3010,2.691595e+09,NaN,...,2.192291e+10,NaN,1.577075e+10,1.577075e+10,1.597471e+10,4.567211e+10,3.112704e+09,4.291575e+09,4.567211e+10,4.567211e+10
2458,200,Czechoslovakia (Former),1980,14.265000,14.265000,15243943,Koruna,3137,3.198587e+09,NaN,...,2.231294e+10,NaN,1.652131e+10,1.652131e+10,1.639076e+10,4.782177e+10,3.699472e+09,4.170259e+09,4.782177e+10,4.782177e+10
2459,200,Czechoslovakia (Former),1981,13.249167,13.249167,15295552,Koruna,3320,2.857316e+09,NaN,...,2.452426e+10,NaN,1.640627e+10,1.640627e+10,1.744952e+10,5.077770e+10,4.150453e+09,5.819857e+09,5.077770e+10,5.077770e+10
2460,200,Czechoslovakia (Former),1982,13.712500,13.712500,15341836,Koruna,3336,3.462703e+09,NaN,...,2.445171e+10,NaN,1.671253e+10,1.671253e+10,1.760396e+10,5.117563e+10,3.927966e+09,5.421122e+09,5.117563e+10,5.117563e+10
2461,200,Czechoslovakia (Former),1983,14.162500,14.162500,15380600,Koruna,3304,3.496239e+09,NaN,...,2.441858e+10,NaN,1.674776e+10,1.674776e+10,1.762184e+10,5.081017e+10,3.820754e+09,5.128331e+09,5.081017e+10,5.081017e+10
2462,200,Czechoslovakia (Former),1984,16.606667,16.606667,15414756,Koruna,2979,3.055704e+09,NaN,...,2.141669e+10,NaN,1.460334e+10,1.460334e+10,1.574011e+10,4.591776e+10,3.387744e+09,5.280818e+09,4.591776e+10,4.591776e+10
2463,200,Czechoslovakia (Former),1985,17.140000,17.140000,15448897,Koruna,2973,2.740297e+09,-1.614172e+08,...,2.149759e+10,NaN,1.483104e+10,1.483104e+10,1.616558e+10,4.592851e+10,3.133045e+09,5.262392e+09,4.592851e+10,4.592851e+10
2464,200,Czechoslovakia (Former),1986,14.990000,14.990000,15478091,Koruna,3483,3.319205e+09,7.426600e+04,...,2.524238e+10,NaN,1.739497e+10,1.739497e+10,1.902103e+10,5.390307e+10,3.710094e+09,6.080931e+09,5.390307e+10,5.390307e+10
2465,200,Czechoslovakia (Former),1987,13.685833,13.685833,15503256,Koruna,3903,3.549109e+09,1.026877e+09,...,2.849219e+10,NaN,1.950206e+10,1.950206e+10,2.169357e+10,6.051097e+10,3.828247e+09,7.038571e+09,6.051097e+10,6.051097e+10
2466,200,Czechoslovakia (Former),1988,14.363333,14.363333,15529060,Koruna,3851,3.355019e+09,-2.926407e+08,...,2.815472e+10,NaN,1.922743e+10,1.922743e+10,2.118853e+10,5.979761e+10,3.891281e+09,7.265829e+09,5.979761e+10,5.979761e+10
2467,200,Czechoslovakia (Former),1989,15.054167,15.054167,15549614,Koruna,3771,4.642565e+09,-2.801606e+08,...,2.790449e+10,NaN,1.823694e+10,1.823694e+10,2.124105e+10,5.862988e+10,3.182324e+09,6.659948e+09,5.862988e+10,5.862988e+10
2468,200,Czechoslovakia (Former),1990,16.377595,17.953333,15562497,Koruna,3700,3.973214e+09,-1.405661e+08,...,2.900337e+10,NaN,1.828597e+10,1.828597e+10,1.509957e+10,5.232081e+10,2.847522e+09,7.362464e+09,5.757521e+10,5.757521e+10

De la misma manera que la USSR, Czechoslovakia paso a ser una república federal en el 1990 y además antes de que esto pasaba era un estado Marxista bajo la dominación Sovietica, por lo tanto, también tiene sentido que tenga nulos en las importaciones.

In [80]:
#Comprobamos M
print("Columna M, valor: " + data_names["M"])

M_nulo = df.loc[df['M'].isnull(),['Year','Country']]

print(M_nulo.shape)
print(M_nulo.head())
print(M_nulo.tail())

China = df[df['Country']=="China"]
China

Kiribati = df[df['Country']=="Kiribati"]
Kiribati

Columna M, valor: Manufacturing (ISIC D)
(43, 2)
      Year Country
1948  1970   China
1949  1971   China
1950  1972   China
1951  1973   China
1952  1974   China
      Year   Country
3541  1974  Kiribati
3542  1975  Kiribati
3543  1976  Kiribati
3544  1977  Kiribati
3545  1978  Kiribati

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
3537,296,Kiribati,1970,0.892857,0.892857,57437,Australian Dollar,377,2521628.0,301401.0,...,10510386.0,7897224.0,NaN,8266363.0,3084644.0,17034241.0,433277.0,2109702.0,21645388.0,20195540.0
3538,296,Kiribati,1971,0.880608,0.880608,58535,Australian Dollar,361,2305073.0,283587.0,...,9643147.0,7171691.0,NaN,7340463.0,3527426.0,16486155.0,518190.0,2291321.0,21145986.0,20096898.0
3539,296,Kiribati,1972,0.819201,0.819201,59606,Australian Dollar,415,3017897.0,128440.0,...,14395860.0,10382487.0,NaN,6334529.0,5789561.0,18944124.0,425263.0,2546378.0,24734444.0,23892867.0
3540,296,Kiribati,1973,0.704114,0.704114,60598,Australian Dollar,622,4509789.0,926525.0,...,17549557.0,13986890.0,NaN,8794959.0,10657206.0,30199578.0,1039022.0,4255884.0,37675228.0,36642222.0
3541,296,Kiribati,1974,0.638383,0.638383,60953,Australian Dollar,1045,5336382.0,726413.0,...,22283473.0,15827608.0,NaN,15754823.0,15923093.0,49336062.0,2579796.0,9095331.0,63711937.0,62237866.0
3542,296,Kiribati,1975,0.763871,0.763871,60675,Australian Dollar,921,5683879.0,732902.0,...,22023248.0,16601056.0,NaN,11477205.0,18524922.0,45987509.0,2302612.0,7096082.0,55906442.0,56230437.0
3543,296,Kiribati,1976,0.818284,0.818284,60310,Australian Dollar,626,4689839.0,532941.0,...,16861453.0,13488736.0,NaN,6536137.0,16781189.0,34864491.0,1592104.0,4288780.0,37751805.0,39355314.0
3544,296,Kiribati,1977,0.901825,0.901825,59894,Australian Dollar,554,4886569.0,426360.0,...,16302028.0,13840116.0,NaN,4762046.0,19313574.0,34959196.0,1390128.0,3273269.0,33193540.0,34783095.0
3545,296,Kiribati,1978,0.873659,0.873659,59465,Australian Dollar,634,6287719.0,NaN,...,19463965.0,17536839.0,NaN,4514330.0,27646855.0,45282300.0,1498930.0,3085127.0,37695452.0,37964368.0
3546,296,Kiribati,1979,0.894641,0.894641,59775,Australian Dollar,568,6331085.0,NaN,...,18530379.0,18795098.0,3313620.0,3852965.0,16085779.0,32201818.0,1726950.0,2974378.0,33972361.0,33972361.0
3547,296,Kiribati,1980,0.878244,0.878244,60813,Australian Dollar,536,4026826.0,-1052.0,...,31077444.0,32056034.0,3540279.0,3884033.0,15675839.0,31280457.0,2721338.0,3862251.0,32571669.0,32571669.0
3548,296,Kiribati,1981,0.870215,0.870215,61875,Australian Dollar,557,4341868.0,191816.0,...,42113884.0,48399535.0,3736038.0,4159727.0,16948897.0,33351990.0,2653369.0,4058769.0,34466658.0,34466658.0
3549,296,Kiribati,1982,0.985863,0.985863,62977,Australian Dollar,507,3053600.0,62140.0,...,44478529.0,45327894.0,3319222.0,3679699.0,14809849.0,31776823.0,4647705.0,4577716.0,31918831.0,31918831.0
3550,296,Kiribati,1983,1.110015,1.110015,64121,Australian Dollar,472,4317278.0,67693.0,...,37568098.0,36934464.0,3044719.0,3562910.0,14305786.0,29470559.0,3348603.0,3246803.0,30272350.0,30272350.0
3551,296,Kiribati,1984,1.139519,1.139519,65338,Australian Dollar,514,7468402.0,84975.0,...,36904556.0,42654021.0,3009461.0,3683464.0,14383633.0,32538453.0,3283841.0,3032858.0,33577488.0,33577488.0
3552,296,Kiribati,1985,1.431895,1.431895,66708,Australian Dollar,382,3677337.0,55637.0,...,33662741.0,37747934.0,2478034.0,2998533.0,12469442.0,25099660.0,2586782.0,2620304.0,25451641.0,25451641.0
3553,296,Kiribati,1986,1.495974,1.495974,68266,Australian Dollar,370,2360277.0,61449.0,...,35715468.0,39023444.0,2400142.0,2819133.0,12302976.0,24310043.0,2970640.0,2814220.0,25270622.0,25270622.0
3554,296,Kiribati,1987,1.428180,1.428180,69946,Australian Dollar,411,2694508.0,65455.0,...,38678544.0,40192395.0,2516602.0,3147615.0,13565570.0,26529344.0,2711843.0,3391029.0,28716744.0,28716744.0
3555,296,Kiribati,1988,1.279908,1.279908,71680,Australian Dollar,520,6463543.0,70486.0,...,46563932.0,49536088.0,2966731.0,3631232.0,15479702.0,34481365.0,3791678.0,4396409.0,37257345.0,37257345.0
3556,296,Kiribati,1989,1.264597,1.264597,73436,Australian Dollar,498,4733679.0,68918.0,...,46892743.0,51874499.0,3039330.0,3651794.0,16490594.0,34028394.0,3686551.0,4480480.0,36556472.0,36556472.0
3557,296,Kiribati,1990,1.281057,1.281057,75124,Australian Dollar,471,2590235.0,71832.0,...,51524160.0,58901759.0,3190599.0,3860171.0,16534947.0,32543088.0,3924885.0,4779648.0,35356391.0,35356391.0
3558,296,Kiribati,1991,1.283756,1.283756,76612,Australian Dollar,577,3921282.0,60092.0,...,46037240.0,40566445.0,3234731.0,3931214.0,19072769.0,42841541.0,4167771.0,5192966.0,44228513.0,44228513.0
3559,296,Kiribati,1992,1.361648,1.361648,77901,Australian Dollar,827,23933924.0,55183.0,...,44423528.0,37383492.0,2986104.0,3749882.0,19836260.0,62837584.0,4174279.0,5624286.0,64418816.0,64418816.0
3560,296,Kiribati,1993,1.470560,1.470560,79093,Australian Dollar,781,21764962.0,44905.0,...,38251896.0,29273860.0,2954502.0,4032379.0,19054851.0,59298443.0,4459730.0,4754447.0,61786696.0,61786696.0
3561,296,Kiribati,1994,1.367751,1.367751,80264,Australian Dollar,872,24198652.0,44392.0,...,40069540.0,32928448.0,3266762.0,4051628.0,21954652.0,67615475.0,6260643.0,5505608.0,69966236.0,69966236.0
3562,296,Kiribati,1995,1.349033,1.349033,81481,Australian Dollar,854,23806105.0,51324.0,...,48949162.0,40282934.0,3434393.0,4084571.0,23450676.0,67273778.0,5369033.0,6185766.0,69576895.0,69576895.0
3563,296,Kiribati,1996,1.277863,1.277863,82832,Australian Dollar,995,26040248.0,54860.0,...,55392263.0,45579433.0,3554430.0,4500543.0,31155875.0,78990171.0,6778111.0,6062542.0,82402805.0,82402805.0
3564,296,Kiribati,1997,1.347380,1.347380,84308,Australian Dollar,950,23454064.0,48623.0,...,51984770.0,41715418.0,3589487.0,4257511.0,31058111.0,74986869.0,7023112.0,5539491.0,80095079.0,80095079.0
3565,296,Kiribati,1998,1.591828,1.591828,85805,Australian Dollar,880,20610122.0,40233.0,...,45534674.0,34007217.0,3240502.0,4160423.0,27315456.0,71590104.0,6540906.0,7373534.0,75498262.0,75498262.0
3566,296,Kiribati,1999,1.549950,1.549950,87289,Australian Dollar,888,20773118.0,44065.0,...,52830484.0,36416073.0,3597363.0,4892194.0,30439222.0,75592730.0,7159070.0,6389496.0,77476421.0,77476421.0
3567,296,Kiribati,2000,1.724827,1.724827,88826,Australian Dollar,841,16056126.0,57446.0,...,72973483.0,69152867.0,3302174.0,4105881.0,27688837.0,68111781.0,7995122.0,6666525.0,74698878.0,74698878.0
3568,296,Kiribati,2001,1.933442,1.933442,90531,Australian Dollar,1214,14650559.0,48023.0,...,64649614.0,64190170.0,2999319.0,4187467.0,25383295.0,61856883.0,6841256.0,6040746.0,109922581.0,64828371.0
3569,296,Kiribati,2002,1.840563,1.840563,92400,Australian Dollar,1281,16084753.0,54688.0,...,78054823.0,83737250.0,3392797.0,4630292.0,30621971.0,69042438.0,6802862.0,6618933.0,118347127.0,73727908.0
3570,296,Kiribati,2003,1.541914,1.541914,94302,Australian Dollar,1463,21182814.0,61026.0,...,92371182.0,91525535.0,3858872.0,5313000.0,39796040.0,86782811.0,10203951.0,6177169.0,137923392.0,94201447.0
3571,296,Kiribati,2004,1.359752,1.359752,96224,Australian Dollar,1553,23537000.0,63679.0,...,102254432.0,97990678.0,4534655.0,5742075.0,47083635.0,97201847.0,10172844.0,6945329.0,149424643.0,102370655.0
3572,296,Kiribati,2005,1.309473,1.309473,98164,Australian Dollar,1620,22754667.0,70242.0,...,119701080.0,124712181.0,5303352.0,5894222.0,51247105.0,104467490.0,14583149.0,6146004.0,159031289.0,112136452.0
3573,296,Kiribati,2006,1.327973,1.327973,100083,Australian Dollar,1546,24298350.0,57811.0,...,104589946.0,94190102.0,5111992.0,5597690.0,54726843.0,107255747.0,11372902.0,5887392.0,154741218.0,110399651.0
3574,296,Kiribati,2007,1.195072,1.195072,101998,Australian Dollar,1859,30734333.0,-24268.0,...,119267865.0,111422704.0,7267305.0,7834864.0,61246697.0,127795922.0,12773052.0,9112174.0,189603140.0,132978978.0
3575,296,Kiribati,2008,1.192178,1.192178,103966,Australian Dollar,1975,34828500.0,502848.0,...,130298292.0,119569126.0,7354104.0,9276271.0,66154458.0,139089386.0,11591935.0,11141605.0,205337596.0,141044629.0
3576,296,Kiribati,2009,1.282189,1.282189,105996,Australian Dollar,1724,35238354.0,-68981.0,...,122132910.0,117047401.0,6368724.0,7950349.0,58153041.0,130656182.0,12732809.0,10847587.0,182744715.0,132421066.0
3577,296,Kiribati,2010,1.090159,1.090159,107995,Australian Dollar,2109,37570813.0,456293.0,...,140526926.0,122655878.0,8765622.0,10772670.0,70362019.0,154478373.0,16883093.0,11141142.0,227795076.0,155305500.0
3578,296,Kiribati,2011,0.969463,0.969463,109871,Australian Dollar,2292,45561823.0,29801.0,...,168060678.0,157292665.0,10518498.0,12488345.0,80820533.0,179810197.0,17500826.0,12618566.0,251825525.0,180672665.0
3579,296,Kiribati,2012,0.965801,0.965801,111618,Australian Dollar,2575,46296872.0,5140777.0,...,167315263.0,172562366.0,9453308.0,11405923.0,85692482.0,187784987.0,18153286.0,11702538.0,287381071.0,189629913.0
3580,296,Kiribati,2013,1.035843,1.035843,113311,Australian Dollar,2682,42663124.0,2941973.0,...,163258498.0,173117988.0,8358381.0,10104861.0,83340403.0,181413819.0,18825092.0,9795696.0,303916034.0,184543062.0
3581,296,Kiribati,2014,1.109363,1.109363,114985,Australian Dollar,2925,42671234.0,1061793.0,...,158824832.0,184575139.0,8353895.0,10523790.0,83076990.0,177501251.0,17571739.0,8321331.0,336286671.0,177868195.0
3582,296,Kiribati,2015,1.331090,1.331090,116707,Australian Dollar,3011,36921326.0,-1543546.0,...,146912700.0,183766077.0,6579618.0,9150979.0,77719699.0,166024660.0,13432324.0,11895963.0,351403384.0,170292248.0
3583,296,Kiribati,2016,1.345214,1.345214,118513,Australian Dollar,2684,47016336.0,-1118157.0,...,152615270.0,195426979.0,7521608.0,11469877.0,79086374.0,183468767.0,14217748.0,15515230.0,318138755.0,178496492.0
3584,296,Kiribati,2017,1.304758,1.304758,120362,Australian Dollar,2985,57389071.0,738656.0,...,168902187.0,194581496.0,8107619.0,11189180.0,87032417.0,199987726.0,14610826.0,16713912.0,359248910.0,188182032.0
3585,296,Kiribati,2018,1.338412,1.338412,122261,Australian Dollar,2998,49735537.0,4172446.0,...,152192627.0,173538160.0,8729800.0,12215648.0,97228521.0,197566254.0,16270342.0,12502251.0,366539720.0,196232414.0
3586,296,Kiribati,2019,1.438507,1.438507,124241,Australian Dollar,2981,45378389.0,470.0,...,152311128.0,180817534.0,6754256.0,9099620.0,92766375.0,183008760.0,17019066.0,11142697.0,370358180.0,175420928.0
3587,296,Kiribati,2020,1.453085,1.453085,126463,Australian Dollar,2643,47022127.0,-66335.0,...,154337447.0,150178021.0,7878538.0,10699390.0,92748566.0,185012704.0,17477746.0,10153168.0,334287670.0,177649046.0
3588,296,Kiribati,2021,1.331224,1.331224,128874,Australian Dollar,3018,52562627.0,-122957.0,...,194763697.0,201765194.0,11361518.0,15487008.0,117711534.0,227136573.0,17593725.0,12947257.0,388976942.0,227454167.0

Entre los años 2002 y 2004 Jiang Zemin fue remplazado en todos sus cargos por su sucesor Hu Jintao, puede ser que con este cambio de mandato se empezara a registrar este dato de manufcaturación, ya que en ese momento China se encontraba en plena expansión. Por otro lado, Kiribati se independiza del Reino Unido en el 1979.

In [97]:
#Por último, comrpobamos el Cii que es la columna con más nulos en todo nuestro dataset

print("Columna Cii, valor: " + data_names["Cii"])

Cii_nulo = df.loc[df['Cii'].isnull(),['Year','Country']]

print(Cii_nulo.shape)
print(Cii_nulo.head())
print(Cii_nulo.tail())

print(Cii_nulo['Country'].value_counts())
for item in Cii_nulo['Country'].value_counts():
    print(item)

Columna Cii, valor: Changes in inventories
(1841, 2)
   Year      Country
0  1970  Afghanistan
1  1971  Afghanistan
2  1972  Afghanistan
3  1973  Afghanistan
4  1974  Afghanistan
       Year Country
10364  2001   Samoa
10365  2002   Samoa
10366  2003   Samoa
10367  2004   Samoa
10368  2005   Samoa
Country
Afghanistan                 52
Guyana                      52
Tuvalu                      52
Antigua and Barbuda         52
Turks and Caicos Islands    52
                            ..
Cuba                         1
Malaysia                     1
Cameroon                     1
Côte d'Ivoire                1
Tonga                        1
Name: count, Length: 92, dtype: int64
52
52
52
52
52
52
52
52
52
52
52
51
48
45
45
42
41
39
39
38
36
34
33
32
30
27
25
25
24
24
24
24
23
23
23
21
21
21
20
17
17
16
16
15
15
15
14
14
13
12
12
12
11
11
10
10
10
10
10
9
9
9
9
8
8
6
6
6
5
5
5
4
4
4
3
3
3
3
3
2
2
2
2
2
2
1
1
1
1
1
1
1

La variable Change in Inventories es un pequeño componente del GDP, normalmente forma menos del 1% del GDP, y por lo que vemos los nulos estan distribuidos por todos los países.
Además sabemos que la forma más utilizada para calcular el PIB(GDP) de un país es según su demanda agregada: PIB = C + I + G + X – M Donde C el consumo, I la inversión, G el gasto público, X las exportaciones y M las importaciones.

In [98]:
print(data_names)
df.head()

{'CountryID': 'CountryID', 'Country': 'Country', 'Year': 'Year', 'Aer': 'AMA exchange rate', 'Iber': 'IMF based exchange rate', 'Population': 'Population', 'Currency': 'Currency', 'PcG': 'Per capita GNI', 'Ahff': 'Agriculture, hunting, forestry, fishing (ISIC A-B)', 'Cii': 'Changes in inventories', 'C': 'Construction (ISIC F)', 'Eogas': 'Exports of goods and services', 'Fce': 'Final consumption expenditure', 'Ggfce': 'General government final consumption expenditure', 'Gcf': 'Gross capital formation', 'Gfcf': 'Gross fixed capital formation (including Acquisitions less disposals of valuables)', 'Hce': 'Household consumption expenditure (including Non-profit institutions serving households)', 'Iogas': 'Imports of goods and services', 'M': 'Manufacturing (ISIC D)', 'MMU': 'Mining, Manufacturing, Utilities (ISIC C-E)', 'OA': 'Other Activities (ISIC J-P)', 'TVA': 'Total Value Added', 'Tsac': 'Transport, storage and communication (ISIC I)', 'Wrtrah': 'Wholesale, retail trade, restaurants and hotels (ISIC G-H)', 'GNIiU': 'Gross National Income(GNI) in USD', 'GDP': 'Gross Domestic Product (GDP)'}

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [ ]:
#A continuación vamnos a ver, teniendo en cuenta los nulos, como de equilibrado esta el dataset