In [34]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [35]:
df = pd.read_csv("global-economy-indicators/Global Economy Indicators.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10512 entries, 0 to 10511
Data columns (total 26 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0    CountryID                                                                                  10512 non-null  int64
 1    Country                                                                                    10512 non-null  object
 2    Year                                                                                       10512 non-null  int64
 3    AMA exchange rate                                                                          10512 non-null  float64
 4    IMF based exchange rate                                                                    10512 non-null  float64
 5    Population                                                                                 10512 non-null  int64
 6    Currency                                                                                   10512 non-null  object
 7    Per capita GNI                                                                             10512 non-null  int64
 8    Agriculture, hunting, forestry, fishing (ISIC A-B)                                         10391 non-null  float64
 9    Changes in inventories                                                                     8671 non-null   float64
 10   Construction (ISIC F)                                                                      10512 non-null  float64
 11   Exports of goods and services                                                              10491 non-null  float64
 12   Final consumption expenditure                                                              10512 non-null  float64
 13   General government final consumption expenditure                                           10460 non-null  float64
 14   Gross capital formation                                                                    10460 non-null  float64
 15   Gross fixed capital formation (including Acquisitions less disposals of valuables)         10460 non-null  float64
 16   Household consumption expenditure (including Non-profit institutions serving households)   10460 non-null  float64
 17   Imports of goods and services                                                              10470 non-null  float64
 18   Manufacturing (ISIC D)                                                                     10469 non-null  float64
 19   Mining, Manufacturing, Utilities (ISIC C-E)                                                10512 non-null  float64
 20   Other Activities (ISIC J-P)                                                                10512 non-null  float64
 21   Total Value Added                                                                          10512 non-null  float64
 22   Transport, storage and communication (ISIC I)                                              10463 non-null  float64
 23   Wholesale, retail trade, restaurants and hotels (ISIC G-H)                                 10463 non-null  float64
 24   Gross National Income(GNI) in USD                                                          10512 non-null  float64
 25   Gross Domestic Product (GDP)                                                               10512 non-null  float64
dtypes: float64(20), int64(4), object(2)
memory usage: 2.1+ MB

In [36]:
df.head()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [37]:
df.tail()

,CountryID,Country,Year,AMA exchange rate,IMF based exchange rate,Population,Currency,Per capita GNI,"Agriculture, hunting, forestry, fishing (ISIC A-B)",Changes in inventories,...,Household consumption expenditure (including Non-profit institutions serving households),Imports of goods and services,Manufacturing (ISIC D),"Mining, Manufacturing, Utilities (ISIC C-E)",Other Activities (ISIC J-P),Total Value Added,"Transport, storage and communication (ISIC I)","Wholesale, retail trade, restaurants and hotels (ISIC G-H)",Gross National Income(GNI) in USD,Gross Domestic Product (GDP)
10507,894,Zambia,2017,9.519501,9.519501,17298054,Kwacha,1448,1.041005e+09,567729313.0,...,1.215309e+10,9.465895e+09,2.102369e+09,7.194153e+09,6.187124e+09,2.416662e+10,1.965026e+09,5.323590e+09,2.505604e+10,2.586816e+10
10508,894,Zambia,2018,10.458143,10.458143,17835893,Kwacha,1451,8.791160e+08,929063411.0,...,1.183200e+10,9.717269e+09,1.801783e+09,6.556884e+09,5.791375e+09,2.422570e+10,2.490720e+09,5.990720e+09,2.588455e+10,2.631198e+10
10509,894,Zambia,2019,12.889418,12.889418,18380477,Kwacha,1246,6.668385e+08,817104395.0,...,9.848112e+09,7.961415e+09,1.582484e+09,5.584425e+09,5.231062e+09,2.153971e+10,2.537646e+09,4.959277e+09,2.291011e+10,2.331036e+10
10510,894,Zambia,2020,18.344093,18.344093,18927715,Kwacha,928,5.391694e+08,439295787.0,...,6.969267e+09,5.892353e+09,1.397303e+09,4.269405e+09,4.217431e+09,1.718020e+10,2.258715e+09,3.234123e+09,1.756233e+10,1.811064e+10
10511,894,Zambia,2021,20.018487,20.018487,19473125,Kwacha,1062,6.285287e+08,293485060.0,...,8.423339e+09,7.735235e+09,1.876458e+09,6.639510e+09,4.250492e+09,2.071254e+10,2.060541e+09,3.881353e+09,2.067962e+10,2.131337e+10

Lo primero que vamos a hacer va a ser limpiar los nombres de las columnas para después poder acceder correctamente, ya que como se puede ver, esta mal formateadas, además, los nombres son muy largos, lo que después para las visualizaciones puede suponer un problema

In [38]:
df.columns

Index([' CountryID ', ' Country ', ' Year ', ' AMA exchange rate ',
       ' IMF based exchange rate ', ' Population ', ' Currency ',
       ' Per capita GNI ',
       ' Agriculture, hunting, forestry, fishing (ISIC A-B) ',
       ' Changes in inventories ', ' Construction (ISIC F) ',
       ' Exports of goods and services ', ' Final consumption expenditure ',
       ' General government final consumption expenditure ',
       ' Gross capital formation ',
       ' Gross fixed capital formation (including Acquisitions less disposals of valuables) ',
       ' Household consumption expenditure (including Non-profit institutions serving households) ',
       ' Imports of goods and services ', ' Manufacturing (ISIC D) ',
       ' Mining, Manufacturing, Utilities (ISIC C-E) ',
       ' Other Activities (ISIC J-P) ', ' Total Value Added ',
       ' Transport, storage and communication (ISIC I) ',
       ' Wholesale, retail trade, restaurants and hotels (ISIC G-H) ',
       ' Gross National Income(GNI) in USD ',
       ' Gross Domestic Product (GDP) '],
      dtype='object')

In [39]:
#Eliminamos los espacios
df.columns=df.columns.str.strip()

In [40]:
#Vamos a crear un diccionario que nos asocie los nombre originales con los nuevos nombres abreviados
data_names = {}
for col in df.columns:
    primeras_letras = []
    for palabra in col.split():
        if palabra[0] == "(": #Aqui podemos añadir más caracteres que queramos para nuestro diccionario
            break
        else:
            if len(col.split()) > 1:
                primeras_letras.append(palabra[0])
            else:
                primeras_letras.append(palabra)
                
    key = ''.join(primeras_letras)
    data_names[key] = col
if len(set(data_names)) == len(data_names):
    print("Ready to create a dictionary:")
    print(data_names)
else:
    pass
    #Aquí deberíamos, en caso de que fuera necesario, separar los elementos que son iguales, y añadirles distintos valores hasta hacerlos únicos.

Ready to create a dictionary:
{'CountryID': 'CountryID', 'Country': 'Country', 'Year': 'Year', 'Aer': 'AMA exchange rate', 'Iber': 'IMF based exchange rate', 'Population': 'Population', 'Currency': 'Currency', 'PcG': 'Per capita GNI', 'Ahff': 'Agriculture, hunting, forestry, fishing (ISIC A-B)', 'Cii': 'Changes in inventories', 'C': 'Construction (ISIC F)', 'Eogas': 'Exports of goods and services', 'Fce': 'Final consumption expenditure', 'Ggfce': 'General government final consumption expenditure', 'Gcf': 'Gross capital formation', 'Gfcf': 'Gross fixed capital formation (including Acquisitions less disposals of valuables)', 'Hce': 'Household consumption expenditure (including Non-profit institutions serving households)', 'Iogas': 'Imports of goods and services', 'M': 'Manufacturing (ISIC D)', 'MMU': 'Mining, Manufacturing, Utilities (ISIC C-E)', 'OA': 'Other Activities (ISIC J-P)', 'TVA': 'Total Value Added', 'Tsac': 'Transport, storage and communication (ISIC I)', 'Wrtrah': 'Wholesale, retail trade, restaurants and hotels (ISIC G-H)', 'GNIiU': 'Gross National Income(GNI) in USD', 'GDP': 'Gross Domestic Product (GDP)'}

In [41]:
#definimos una función que nos permita obtener el valor del diccionario a traves del valor del diccionario
def get_key_from_value(diccionario,value):
    for k,v in diccionario.items():
        if v == value:
            return k
    return "None" #si el valor no se encuentra

In [42]:
#Renombramos todas las cabeceras de las columnas con los nuevos nombres
for col in df.columns:
    new_name = get_key_from_value(data_names,col)
    df.rename(columns = {col: new_name},inplace=True)

if not "None" in df.columns: print("Rename Succesfull")

Rename Succesfull

In [43]:
#Country y Currency son object type data, así que checkeamos por espacios extra, para verlo con claridad, concatenamos un string al principio y al final para ver como se ve el output.

print("hello" + df['Country'] + "bye") 
print("hello" + df['Currency'] + "bye")

0        hello Afghanistan bye
1        hello Afghanistan bye
2        hello Afghanistan bye
3        hello Afghanistan bye
4        hello Afghanistan bye
                 ...
10507         hello Zambia bye
10508         hello Zambia bye
10509         hello Zambia bye
10510         hello Zambia bye
10511         hello Zambia bye
Name: Country, Length: 10512, dtype: object
0        hello Afghani bye
1        hello Afghani bye
2        hello Afghani bye
3        hello Afghani bye
4        hello Afghani bye
               ...
10507     hello Kwacha bye
10508     hello Kwacha bye
10509     hello Kwacha bye
10510     hello Kwacha bye
10511     hello Kwacha bye
Name: Currency, Length: 10512, dtype: object

In [44]:
#Efectivamente tenemos espacios extras, por lo tanto tenemos que limpiar también estos datos
df['Country']=df['Country'].str.strip()
df['Currency']=df['Currency'].str.strip()

In [45]:
#Prevenir malos formatos en los numeros
for col in df.select_dtypes(['float64']):
    df[col]=pd.to_numeric(df[col])

In [47]:
#Vemos como ha quedado nuestro dataframe después de este primer formateado
df.head()

,CountryID,Country,Year,Aer,Iber,Population,Currency,PcG,Ahff,Cii,...,Hce,Iogas,M,MMU,OA,TVA,Tsac,Wrtrah,GNIiU,GDP
0,4,Afghanistan,1970,0.044998,0.044998,10752971,Afghani,164,8.699174e+08,NaN,...,1.551094e+09,195277226.0,370146827.0,376690811.0,127747843.0,1.731454e+09,83917200.0,226387091.0,1.766528e+09,1.731436e+09
1,4,Afghanistan,1971,0.044998,0.044998,11015857,Afghani,168,9.108281e+08,NaN,...,1.675426e+09,276296480.0,387549502.0,394401164.0,133754097.0,1.812857e+09,87860382.0,237019196.0,1.850122e+09,1.812838e+09
2,4,Afghanistan,1972,0.044998,0.044998,11286753,Afghani,149,8.279453e+08,NaN,...,1.498812e+09,290370350.0,352284669.0,358512865.0,121582672.0,1.647918e+09,79864525.0,215477287.0,1.683948e+09,1.647900e+09
3,4,Afghanistan,1973,0.044998,0.044998,11575305,Afghani,150,8.554869e+08,NaN,...,1.508024e+09,262962880.0,364010279.0,370445793.0,125630236.0,1.702735e+09,82528885.0,222624293.0,1.739998e+09,1.702716e+09
4,4,Afghanistan,1974,0.044998,0.044998,11869879,Afghani,177,1.035913e+09,NaN,...,1.778819e+09,305679151.0,440760406.0,448552790.0,152119162.0,2.061752e+09,99918604.0,269525910.0,2.106420e+09,2.061729e+09

In [48]:
#Y si en cualquier momento queremos ver a que valor hace referencia nuestra columna, sencillamente lo consultamos en nuestro diccionario:
print(data_names['PcG'])

Per capita GNI

Ahora procederemos a entender todos los nulos que nos encontramos

In [49]:
df.isna().sum()

CountryID        0
Country          0
Year             0
Aer              0
Iber             0
Population       0
Currency         0
PcG              0
Ahff           121
Cii           1841
C                0
Eogas           21
Fce              0
Ggfce           52
Gcf             52
Gfcf            52
Hce             52
Iogas           42
M               43
MMU              0
OA               0
TVA              0
Tsac            49
Wrtrah          49
GNIiU            0
GDP              0
dtype: int64

Encontramos un grupo de 4 atributos que tienen el mismo numero de nulos (52), lo que puede dar a entender que se tratan de las mismas entradas, lo mismo con el grupo de 2 atributos de 49 nulos.

Por otro lado encontramos que las variables: <br>
Ahff <br>
Cii<br>
Eogas<br>
Iogas<br>
M<br>
Tienen una cantidad de nulos diferentes entre ellas.

In [52]:
#Comprobamos el grupo de 4 atributos

print("Columna Ggfce, valor: " + data_names["Ggfce"])
print("Columna Gcf, valor: " + data_names["Gcf"])
print("Columna Gfcf, valor: " + data_names["Gfcf"])
print("Columna Hce, valor: " + data_names["Ggfce"])

null4Group = df.loc[df['Ggfce'].isnull(),['Year','Country','Gcf','Gfcf','Hce']]

print(null4Group.shape)
print(null4Group.head())
print(null4Group.tail())

Columna Ggfce, valor: General government final consumption expenditure
Columna Gcf, valor: Gross capital formation
Columna Gfcf, valor: Gross fixed capital formation (including Acquisitions less disposals of valuables)
Columna Hce, valor: General government final consumption expenditure
(52, 5)
      Year          Country  Gcf  Gfcf  Hce
4817  1970  D.P.R. of Korea  NaN   NaN  NaN
4818  1971  D.P.R. of Korea  NaN   NaN  NaN
4819  1972  D.P.R. of Korea  NaN   NaN  NaN
4820  1973  D.P.R. of Korea  NaN   NaN  NaN
4821  1974  D.P.R. of Korea  NaN   NaN  NaN
      Year          Country  Gcf  Gfcf  Hce
4864  2017  D.P.R. of Korea  NaN   NaN  NaN
4865  2018  D.P.R. of Korea  NaN   NaN  NaN
4866  2019  D.P.R. of Korea  NaN   NaN  NaN
4867  2020  D.P.R. of Korea  NaN   NaN  NaN
4868  2021  D.P.R. of Korea  NaN   NaN  NaN